@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@600;700&display=swap');
.card {
    width: 230px;
    height: 250px;
    margin-top: 5px;
    margin-left: 37px;
    margin-bottom: 25px;
    border-radius: 5px;
    transition: transform 20ms ease-in;
    cursor: pointer;
    /* box-shadow: -3px -3px 50px rgba(49, 69, 106, 0.199),  3px 3px 50px  rgba(49, 69, 106, 0.144); */
    /* transition: all 0.2s ease-in-out;
    transition: box-shadow 1099ms ease-in-out; */
    -webkit-transform: scale(1);
	transform: scale(1);
	
}
/* .card:hover {
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
} */
.card > img {
    border-radius:5px;
    width: inherit;
    height: 160px;
    /* -webkit-transition: 200.0s ease-in-out;
	transition: box-shadow 500.0s ease-in-out; */
    transition: all 200ms ease-in;
}
.card > img:hover {
    border: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transform: scale(1.3);
	transform: scale(1.08);
    /* -webkit-transition: 200.0s ease-in-out;
	transition: box-shadow 500.0s ease-in-out; */
    transition: all 200ms ease-in;  
}
.card__info {
    border-radius: 10px;
    padding: 15px 10px;
    border: 1;
}
.card__info > h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: bold;  
    text-align: center;
    color: rgba(49,69,106,1);
}

.card__info > h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: rgb(0, 0, 0);
}

/***** style by kajal on 02-06-21 STARt ******/

.card{
    width: calc(25% - 37px);
    height: auto;
}

.card > img{
    width: 100%;
}

@media(max-width: 1199px){
    .card{
        width: calc(33% - 37px);
    }
}


@media(max-width: 991px){
    .card{
        width: calc(50% - 15px);
        margin-left: 15px;
    }

    .card__info > h2{
        font-size: 18px;
    }
}

@media(max-width: 479px){
    .card{
        width: 100%;
        margin-left: 0;
    }
}

/***** style by kajal on 02-06-21 End ******/
