.searchnbutton {
    margin-left: 30rem;
    /* position: absolute; */
}

.searchnbutton__content {   
    z-index: 100;
    padding-top: 250px;
    margin-left: 3rem;
    /* position: absolute; */
}

.searchnbutton__search {
    display: flex;
    align-items: center;
    margin-left: 15em;
    margin-top: -45px;
    max-width: fit-content;
    padding: 8px;
    /* padding-top: 7px; */
    background-color: white;
    height: 30px;
    border: 1px solid rgb(133, 126, 126);
    border-radius: 999px;
    z-index: 100;
}
.searchnbutton__search > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    /* position: absolute; */
    width: 250px;
    z-index: 100;
}
.searchnbutton__content > .MuiButton-root {
    color: teal;
    border: 3px solid teal;
}
.searchnbutton__content > .MuiButton-root:hover {
    color: teal;
    border: 3px solid teal;
}