@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
.ads {
    display: flex;
    background-color: rgba(245, 222, 179, 0);
    flex-direction: row;
    justify-content: center;
    
}

.ads__showcaseContainer {
    flex-direction: column;
    display: flex;
    margin-top: 10rem;
    /* background-color: gray; */
    
}

.ads__showcase {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;

}

.ads__showcase >img {
    height: 100px;
    max-width: 100%;
    border-radius: 5px;
}
.ads__showcase >img:hover {
    box-shadow: -2px -2px 5px #212121a4, 2px 2px 5px #14141488;
}

.ads__list {
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex: 0.8;
    margin-top: 45px;
}

.ads__list > h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 600;  
    z-index: 100;
}

.ads__list > hr {
    width: 10%;
    height: 3px;
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
}

.ads__cards {
    display: flex;
    flex-wrap: wrap;
}

/***** style by kajal on 02-06-21 STARt ******/

@media(max-width: 767px){
    .ads{
        flex-direction: column;
    }
    
    .ads__showcaseContainer{
        flex-direction: row;
        padding: 0 15px;
    }
    
    .ads__showcase{
        padding: 5px;
    }
    
    .ads__showcase >img{
        height: auto;
    }

    .ads__cards{
        padding: 0 15px 0 15px;
    }
    
}

@media(max-width: 479px){
    .ads__showcaseContainer{
        flex-wrap: wrap;
    }

    .ads__showcase{
        width: 22%;
    }
}

/***** style by kajal on 02-06-21 End ******/
