@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.banner,
.banner:before,.banner:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    justify-content: center;
    height: 85vh;
    background-color: #3c26b97a;
    display: flex;
    position: relative;
}

.banner__image {
    position:absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 85vh;
    z-index: -1;
}
.banner__box {
    flex-direction: column;
    display: flex;
    height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://i.imgur.com/SLehsV2.jpg'); */
    /* background-color: blue; */
    /* background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%); */
    
}
.banner__searchBar {
    display: flex;
    align-items: center;
}

.banner__search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px; 
}   
.banner__buttonDesign {
    display: flex;
    flex-direction: row;
   
    text-align: center;
    padding-top: 18px;
    font-size: 16px;
    border: none;
    padding-left: 15px;
    padding-right:25px;
    border-radius: 5px;
    margin-right: 20px;
    text-transform: none;
    font-weight: 600;
    cursor: pointer;
    color: black;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
}

.banner__location {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px; 
    padding-top: 2.5px;
    margin-left: 3px;
}
.banner__text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    width: 65%;
    margin-top: 20px;
    margin-bottom: 60px;
}
.banner__searchInput {
    display: flex;
    border-radius: 999px;
   
}
.banner__search > input {
    display: flex;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.13),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.514);
    border-radius: 5px;
    margin-left: -5px;
    background-color: #F8F8F8; 
    border: none;
    padding: 21px;
    outline-width: 0;
    width: 400px;
  }
.banner__searchIcon {
    display: flex;
    /* background-color: rgba(49, 69, 106, 1);
    border-radius: 99px; */
    padding: 16px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: box-shadow 300ms;
}


.banner__wrapper{
    box-sizing: content-box;
    height: 180px;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    border-radius: 8px;
    color: #ffffff; 
    
}
.banner__words{
    overflow: hidden;
}
.banner__words > span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    color: #ffffff;
    animation: spin_words 6s infinite;
}
.banner__wrapper > p {
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}
.banner__box> p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    flex: none
}
/***** style by kajal on 02-06-21 STARt ******/
@media (max-width: 1200px) {
    .banner__wrapper{
        font-size: 45px;
    }
}
@media(max-width: 991px){
    .banner__searchInput > input{
        width: 200px;
    }
    .banner__text{
        font-size: 16px;
        width: 100%;
    }
}
@media(max-width: 767px){
    .banner__wrapper{
        width: 100%;
        font-size: 30px;
        height: 65px;
        justify-content: center;
    }
    .banner{
        padding-top: 70px;
    }
    .banner__box{
        height: auto;
        width: 80%;
        padding: 15px;
    }
    .banner__searchBar{
        width: 100%;
        justify-content: center;
        padding: 0 15px;
    }
    .banner__buttonDesign{
        width: 33%;
        font-size: 10px;
        padding-left: 5px;
        padding-right:5px;
    }
    .banner__search > input{
        width: calc(80% - 60px);
    }
}
/***** style by kajal on 02-06-21 End ******/