@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@600;700&display=swap');



.headerSearch {
    display: flex;
    align-items: center;
    visibility: hidden;
    transition-timing-function: ease-in;
    transition: all 0.5s;   
}

.headerSearch__active {
    visibility: visible;
}

.header__box {
    flex-direction: column;
    display: flex;
    height: 85vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.imgur.com/SLehsV2.jpg');
    /* background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%); */
    
}
.header__searchBar {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px; 
}   
.header__buttonDesign {
    display: flex;
    flex-direction: row;
   
    text-align: center;
    padding-top: 18px;
    font-size: 16px;
    border: none;
    padding-left: 15px;
    padding-right:25px;
    border-radius: 5px;
    margin-right: 20px;
    text-transform: none;
    font-weight: 600;
    cursor: pointer;
    color: black;
    background-color: #e6e6e6;
}

.header__location {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px; 
    padding-top: 2.5px;
    margin-left: 3px;
}
.header__text {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    width: 65%;
    margin-top: 20px;
    margin-bottom: 60px;
}
.header__searchInput {
    display: flex;
    border-radius: 999px;
   
}
.header__search > input {
    display: flex;
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.082),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.514); */
    border-radius: 1px;
    margin-left: -5px;
    background-color: #e6e6e6; 
    border: none;
    padding: 21px;
    outline-width: 0;
    width: 400px;
  }
.header__searchIcon {
    display: flex;
    /* background-color: rgba(49, 69, 106, 1);
    border-radius: 99px; */
    padding: 16px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: box-shadow 300ms;
    border: 1px solid #d8d8d8;
}

/***** SWSstyle by kajal on 02-06-21 STARt ******/

@media(max-width: 1199px){
  .searchInput > input{
    width: 225px;
  }
  .headerSearch{
    display: none;
  }
  .headerSearch__active {
    display: none;
}
}

@media(max-width: 768px){
  .searchInput > input{
    width: 150px;
  }

  .searchButton{
    margin-right: 15px;
  }
  
}

@media(max-width: 767px){
  .search{
    display:none;
  }
}

/***** style by kajal on 02-06-21 End ******/