@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@600;700&display=swap');

.footer {
    font-family: 'Fira Sans', sans-serif;
    background-color: #f8f8f8;
    font-weight: bold;
}

.footer__logo {
    height: 180px;
    width: 210px;
    padding-top: 5px;
    margin-left: 630px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 4rem;
    color: rgba(49, 69, 106, 1);
}
.footer__contentHead {
    font-family: 'Ralweay', sans-serif;
    font-size: 27px;
    list-style-type: none;
}
.footer__contentDetails{
    margin-left: 20px;
    margin-right: 20px;
}
.footer__contentDetails > ul{
    margin-bottom: 1rem;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1em;
}
.footer__Bottom {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    /* color: white; */
}
.footer__BottomLeft {
    display: flex;
}
.footer__BottomLeft > p {
    margin-right: 5rem;
}
.footer__BottomRight > 
.MuiSvgIcon-root {
    margin-right: 1rem;
    padding: 10px;
    font-weight: bold;
    color: rgba(49, 69, 106, 0.8);
    box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.26),  5px 5px 20px  rgba(49, 69, 106, 0.144);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 99px;
}

.footer__BottomRight > 
.MuiSvgIcon-root:hover {
    box-shadow: -2px -2px 5px rgba(49, 69, 106, 0.562), 2px 2px 5px rgba(49, 69, 106, 0.849);
}

@media (max-width: 768px) {
    .footer__headerText {
        margin-top: 1rem;
    }
    .footer__content {
        padding-left: 20px;
        padding-right: 20px;
        margin-top:2rem;
    }
    .footer__contentDetails{
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer__contentDetails > ul{
        font-size: 12px;
    }
    .footer__contentDetails .footer__contentHead{
        font-size:20px;
    }
    .footer__Bottom{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .footer__BottomLeft > p{
        margin-right: 2rem;
    }
    .footer__BottomRight > .MuiSvgIcon-root{
        padding: 5px;
        margin-right: 0.5rem;
    }
    .footer__headerText{
        font-size:50px;
    }
}

@media (max-width:455px){
    .footer{
        font-weight: normal;
    }
    .footer__contentDetails{
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer__contentDetails .footer__contentHead{
        font-size:16px;
    }
    .footer__contentDetails > ul{
        font-size: 10px;
    }
    .footer__Bottom{
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
    .footer__BottomLeft > p{
        margin-right: 1rem;
        font-size: 12px;
    }
    .footer__BottomRight > .MuiSvgIcon-root{
        padding: 3px;
        margin-right: 0.2rem;
        width: 28px;
    }
    .footer__headerText{
        font-size: 36px;
        padding-top: 30px;
    }
    .footer__content {
        padding-left: 10px;
        padding-right: 10px;
        margin-top:1rem;
    }
}

/***** style by kajal on 02-06-21 STARt ******/

.footer{
    padding-top: 180px;
    position: relative;
}

.footer__logo{
    position: absolute;
    top: 0;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer__Copyright{
    padding: 0 4rem 30px 4rem;
}


@media(max-width: 767px){
    .footer{
        padding-top: 100px;
    }

    .footer__logo{
        height: auto;
        width: 100px;
    }

    .footer__Copyright{
        padding: 0 2rem 30px 2rem;
    }
}

@media(max-width: 479px){
    .footer__Bottom{
        flex-direction: column;
        align-items: center;
    }

    .footer__BottomRight{
        padding: 22px 0;
    }

    .footer__Copyright{
        text-align: center;
    }
}

/***** style by kajal on 02-06-21 End ******/