@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');

nav {
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    position: fixed;

    align-items: center;
    width: 100%;
    line-height: 79px;
    padding-left: 60px;
    padding-right: 60px;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    color: rgba(255, 255, 255, 0);
    z-index: 1000;
    box-shadow: 0 9px 70px rgba(0, 0, 0, 0.109), 0 6px 10px rgba(0, 0, 0, 0.151);
    
}
nav > .header__menu {
    list-style: none;
    overflow: hidden;
    padding-right: 100px;
    text-align: right;   
    transition: 0.4s;
}

.header__logo {
    height: 70px;
    width: 80px;
    padding-top: 5px;
}

.header__menu > .MuiButton-root {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    margin-top: 10px;
    margin-right: 1rem;
    padding-top: 17px;
    padding-bottom: 18px;
    color: black;
    background-color: rgba(219, 87, 87, 0);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 1px;
    border-bottom: none;
}

.header__menu > .MuiButton-root:hover {
    border-bottom: 3px solid rgba(49,69,106,0.8);
    background-color: #f8f8f8;
}

.navbar.active {
    /* background-color: #272727; */
    /* color: white; */
}


.navbar.active .MuiButton-root {
    margin-top: 10px;
    margin-right: 1rem;
    padding: 10px;
    /* color: rgb(196, 191, 191); */
    /* font-weight: bold; */
    /* box-shadow: -5px -5px 8px #212121,  5px 5px 8px  #141414; */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 99px;
    border-bottom: none;
}

.navbar.active .MuiButton-root:hover {
    /* box-shadow: -2px -2px 5px #212121, 2px 2px 5px #141414; */
}



@media (max-width:480px){
    .header__menu > .MuiButton-root{
        font-size: 10px;
        margin-right:0.2rem;
    }
    nav{
        padding-right: 20px;
        padding-left: 20px;
    }
    nav > .header__menu{
        padding-right: 20px;
    }
}

/***** style by kajal on 02-06-21 STARt ******/


@media (max-width: 1023px) {
    nav{
        padding-left: 15px;
    }

    nav > .header__menu{
        padding-right: 15px;
    }

    .header__menu > .MuiButton-root{
        margin-right: 0;
    }
}


@media(max-width: 767px){
    nav{
        justify-content: inherit;
    }
/* 
    .header{
        padding-bottom: 100px;
    } */

    nav > .header__menu{
        margin-left: auto;
        padding-right: 15px;
    }
}



/***** style by kajal on 02-06-21 End ******/