@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background-color: whitesmoke; */
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    
}
.login__brand {
    width: 300px;
    height: 235px;
    display: flex;
    flex-direction: column;
    padding: 171px 83px;
    margin-top: 79px;
    margin-right: 39.1rem;
    z-index: 22;
    position: absolute;
    background-color: #f8f8f8;
}
.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.close__icon {
    margin-left: 1035px;
    z-index: 99;
    margin-top: -570px;
    cursor: pointer;
    /* background-color: #004a68; */
    border-radius: 99px;
    color: white;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    
}

/* .login__image {
    height: 150px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #f8f8f8;
    border-radius: 99px;
} */

.login__container {
    width: 300px;
    height: 457px;
    display: flex;
    flex-direction: column;
    padding: 60px 160px;
    margin-top: 36px;
    margin-left: 29rem;
    background-color: white;
    /* border: 1px solid lightgrey; */
    z-index: 22;
}   

.login__container > hr {
    width: 35%;
    height: 2px;
    border: none;
    border-radius: 20px;
    margin-bottom: 35px;
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
}

.login__container > div > hr {
    width: 36%;
    border: none;
    height: 2px;
    border-radius: 20px;
    margin-bottom: 25px;
    /* margin-left: 25px; */
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: -5px;
    /* color: white; */
}
.login__container > form > h5 {
    margin-bottom: 5px;
}
.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 98%;
}
.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}
.login__container > form > .MuiButton-root {
    color: black;
    margin: 5px;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
    width: 98%;
    text-transform: none;
    border-radius: 99px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right:15px;
    border: 1px solid rgba(49, 69, 106, 1);
    color: white;
    font-weight: 600;
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
}

.login__container > form > .MuiButton-root:hover {
    border: 1px solid rgba(49, 69, 106, 1);
    background-color:rgba(49, 69, 106, 1);
    color: white;
}

.login__container > .MuiButton-root {
    color: black;
    margin: 5px;
    margin-left: 6px;
    margin-right: 6px;
    width: 98%;
    text-transform: none;
    border-radius: 99px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-right:15px;
    border: 1px solid rgba(49, 69, 106, 1);
    color: white;
    font-weight: 600;
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
}

.login__container > .MuiButton-root:hover {
    border: 1px solid rgba(49, 69, 106, 1);
    background-color:rgba(49, 69, 106, 1);
    color: white;
    
}

.login__container > h5 {
    width: 100%; 
    padding-top: 5px;
    text-align: center;
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    margin: 10px 3px 20px;
    
}

.login__container > h5 > span {
    background: white; 
    color: grey;
    font-weight: 500;
    padding:0 10px; 
}

.login__container > p {
    margin-left: 4.5rem;
    color: grey;
}

/**************************LOGIN BACKGROUND**********************************/
/* .context {
    width: 10%;
    position: absolute;
    height: 100vh;
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.area{
    background: teal;  
    background: -webkit-linear-gradient(to left, #8F94FB, #4E54C8);  
    width: 100%;
    height:100vh;
    position: absolute;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


 */







/* .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.login__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__container > form > .MuiButton-root {
    color: teal;
    border: 1px solid teal;  
    margin: 5px;
    width: 98%;
}

.login__container > .MuiButton-root {
    color: teal;
    border: 1px solid teal;  
    margin: 5px;
    width: 98%;
} */


/***** style by kajal on 02-06-21 STARt ******/

.login{
    height: 100%;
    min-height: 100vh;
}

.login_inner{
    position: relative;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}


.login__brand{
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0;
    padding: 0;
    position: static;
    height: auto;
}

.login__brand img{
    max-width: 300px;
    height: auto;
}

.login__container{
    width: 50%;
    padding: 60px;
    margin: 0;
    height: auto;
    box-sizing: border-box;
}

.login .close__icon{
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.login__container > p{
    margin-left: 0;
    text-align: center;
}

@media(max-width: 1199px){
    .login_inner{
        width: 80%;
    }

    .login__container{
        padding: 60px 25px;
    }

    .login__brand img{
        max-width: 250px;
    }
}

@media(max-width: 767px){
    .login_inner{
        width: 90%;
        margin: 20px auto;
    }

    .login__brand{
        width: 100%;
    }

    .login__container{
        padding: 15px;
        width: 100%;
    }

    .login__brand img{
        max-width: 100px;
    }

    .login .MuiInputBase-root{
        width: 100%;
    }
}

/***** style by kajal on 02-06-21 End ******/