@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
.ourclient {
    box-sizing: border-box;
    width: 100%;
    height: 55vh;
    display:flex;
    justify-content: center;
    margin-top: 5rem;
}
.ourclient__Container {
    padding-top: 50px;
    width: 90%;
    height: auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    /* box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.26),  5px 5px 20px  rgba(49, 69, 106, 0.144); */
    transition: all 0.2s ease-in-out;
}
.ourclient__Container:hover {
    /* box-shadow: -2px -2px 5px rgba(49, 69, 106, 0.274), 2px 2px 5px rgba(49, 69, 106, 0.37); */
}




.ourclient__Container > h2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 600;  
    z-index: 100;
}
.ourclient__Container hr {
    width: 8%;
    height: 4px;
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
}

.ourclient__Info {
    width: 100%;
    height: auto;    
}

.ourclient__Info > ul {
    padding: 0;
    margin: 0;
}

.ourclient__Info > ul > li {
    list-style: none;
    display: inline-block;
    width: 100px;
    height: 80px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 18px 23px;
    box-shadow: 0px 0px 0px #555;
    transition: .5s;
}
.ourclient__Info > ul > li > img {
    width: 100px;
    height: 90px;
    padding-bottom: 20px;
    transition: all 200ms ease-in;
}

.ourclient__Info > ul > li > img:hover {
    border: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transform: scale(1.3);
	transform: scale(1.08);
    /* -webkit-transition: 200.0s ease-in-out;
	transition: box-shadow 500.0s ease-in-out; */
    transition: all 200ms ease-in;  
}

/* .ourclient__Info  ul  li  img:nth-child(1) {
    transform: translateY(0);
    transition: .5s;
}
.ourclient__Info  ul li img:nth-child(2) {
    transform: translateY(0);
    transition: .5s;
}



.ourclient__Info ul li:hover img:nth-child(1){
    transform: translateY(-100%);
    transition: .5s;
} 
.ourclient__Info ul li:hover img:nth-child(2){
    transform: translateY(-100%);
    transition: .5s;
}  */

/***** style by kajal on 02-06-21 STARt ******/

@media(max-width: 767px){
    .ourclient{
        height: auto;
    }
}


/***** style by kajal on 02-06-21 End ******/