@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@600;700&display=swap');
.pricing-table{
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	
}
.pricing-table > hr {
	width: 8%;
    height: 4px;
    background-image:  radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
}

.pricing-header {
	font-family: 'Raleway', sans-serif;
	display: flex;
	align-items: center;
	justify-content:center;
	font-size: 35px;
	font-weight: 600;
	margin-top: 100px;
}

.pricing-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* width: min(1600px, 100%); */
	margin-left: auto;
	margin-bottom: 80px;
	background-color: rgb(255, 255, 255);
}

.pricing-card{
	
	flex: 1;
	max-width: 360px;
	border: 1px solid rgba(49, 69, 106);
	border-radius:20px;
	background-color: #f1f1f1;
	margin: 50px 50px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: #2d2d2d;
	transition: .3s linear;
	box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.26),  5px 5px 20px  rgba(49, 69, 106, 0.144);
	transition: all 0.2s ease-in-out;
	}

.pricing-card-header{
	font-family: 'Josefin Sans', sans-serif;
	background-color: rgba(49, 69, 106);
	display: inline-block;
	color: #fff;
	padding: 12px 30px;
	border-radius: 0 0 20px 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
	box-shadow: 0 0 0 50em rgba(49, 69, 106);
}

.price{
	font-size: 60px;
	color: rgba(49, 69, 106);
	margin: 30px 0;
	transition: .2s linear;
}

.price sup, .price span{
	font-size: 22px;
	font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
	color: #fff;
	border: 0px solid rgba(49, 69, 106);
	
}

.pricing-card li{
	font-size: 15px;
	padding: 5px 0;
	text-transform: uppercase;
}

.order-btn{
	display: inline-block;
	margin-bottom: 30px;
	margin-top: 30px;
	border: 2px solid rgba(49, 69, 106);
	color: rgba(49, 69, 106);
	padding: 13px 25px;
	border-radius: 8px;
	text-transform: uppercase;
	font-weight: 500;
	transition: .3s linear;
}

.order-btn:hover{
	background-color: rgb(255, 255, 255);
	color: rgba(49, 69, 106);
}

@media screen and (max-width:1100px){
.pricing-card{
	flex: 50%;
	}
}

/***** style by kajal on 02-06-21 STARt ******/

@media(max-width: 767px){
	.price{
		font-size: 40px;
		margin: 15px 0;
	}

	.pricing-card{
		margin: 20px 50px;
	}
}



/***** style by kajal on 02-06-21 End ******/