@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
.Section1{
    margin: 3rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.Section1__container {
    display:flex;
    justify-content:center;
    flex-direction:row;
}

.Section1__header {
    display: flex;
    justify-content:space-between;   
    margin-left: 60px;
    margin-right: 100px;
}



.all__catagories {
    justify-content: center;
    align-items:center;
    display:flex;
    padding: 10px 10px;
    
}
.Section1 > h2 {
    color: #272727;
    /* font-family:'Josefin Sans', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 600;  
    z-index: 100;
    /* border-bottom: 2px solid rgba(49, 69, 106);*/
} 

.Section1 > hr {
    width: 8%;
    height: 3px;
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    justify-content: left;
    align-items: left;
    
}

.Section1__head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    
}

.Section1__head > h2 {
    color: #272727;
    /* font-family:'Josefin Sans', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bold;  
    z-index: 100;
    justify-content:center;
    align-items: center;
    display: flex;
    
}

.catagory__head > hr{
    width: 10%;
    height: 3px;
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    display:flex;
    justify-content: center;
    align-items: center;
}


.services1 {
    /* display: flex; */
    /* flex: 0.8; */
    /* margin-right: 10px; */
}

/* .subs {
    margin-top: -235px;
} */

/***** style by kajal on 02-06-21 STARt ******/
.subs{
    width: 25%;
    padding-top: 20px;
}

.services1{
    width: 70%;
    padding-right: 25px;
}

@media(max-width: 991px){
    .services1{
        width: 60%;
    }

    .subs{
        width: 40%;
    }
}

@media(max-width: 767px){
    .subs{
        display: none;
    }

    .services1{
        width: 100%;
        padding: 0;
    }
}

/***** style by kajal on 02-06-21 End ******/