@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');

.services{
    width:100%;
    display: flex;
    flex-direction: column;
}

.services > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
    font-family:'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 500;  
    z-index: 100;
}

.services > hr {
    width: 10%;
    height: 4px;
    background-image: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
}
.services__section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}
.services__card { 
    padding-top: 1rem;
    border-radius: 15px;
}