@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
.aboutUs {
    background-color: #F8F8F8;
    padding-top: 60px;
    height: fit-content;
}
.aboutUs__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding-left: 80px; */
    /* padding-right:80px; */
    /* padding-top:4rem; */
    /* padding-bottom: 6rem; */
    /* position: relative; */
}
.about__image {
    display: flex;
    max-width: 60%;
    height: 60%;
    margin-right: 50px;
    -webkit-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255);
    -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255); 
}
.aboutUs__header {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 90px;
    background: #C9C9C9;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 2px 1px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.aboutUs__header:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.aboutUs__discription {
    text-align:center;
    max-width:30%;
}
.aboutUs__discription > .aboutUs__card > h3{
    font-family: 'Fira Sans', sans-serif;
    color: rgba(49,69,106,0.8);
    font-size: 20px;
}
.aboutUs__discription > .aboutUs__card > h2{
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(49,69,106,1);
    margin-bottom: 9px;
    font-weight: 570;
    font-size: 45px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.aboutUs__card {
    padding: 15px;
    height:260px;
    width: 420px;
    border-radius: 10px ;
    -webkit-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255);
    -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255); 
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
    margin-bottom: 2.5rem;
}