@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
.sponsers{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 10rem;
  
}
.sponsers__section {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    width: 80%;
    -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255);
    -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255); 
    /* background-color: rgb(26, 25, 25); */
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.26),  5px 5px 20px  rgba(49, 69, 106, 0.144);
    transition: all 0.2s ease-in-out;
  }

.sponsers__section:hover {
    border: none;
}
.sliderImage {
    width: 60%;
    height: 300px;
    border-radius: 3px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8));
}
.alice-carousel__dots {
  margin: 10px 3px 5px;
}
.alice-carousel {
    position: relative;
    width: 80%;
    direction: ltr;
}
@media(max-width: 767px){
  .sponsers{
    margin-top:0px;
  }
  .sliderImage {
    height:150px;
  }
}