@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@600;700&display=swap');
.work {
    margin-top: 5rem;
    margin-bottom:4rem;
}

.work__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

.work__header > h2 {
    color: #272727;
    font-family:'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 600;  
    z-index: 100;
}

.work__header > hr {
    width: 8%;
    height: 3px;
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: none;
}



.work__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}

.work__infoContainer {
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.work__infoBox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
    height: 230px;
    max-width: 24%;
    box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.26),  5px 5px 20px  rgba(49, 69, 106, 0.144);
    /* -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255);
    -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
    -5px -5px 10px rgb(255, 255, 255);  */
}

.work__infoBox:hover {
    box-shadow: -2px -2px 5px rgba(49, 69, 106, 0.185), 2px 2px 5px rgba(49, 69, 106, 0.336);
}

.work__infoBox > img {
    height: 100px;
    margin-bottom: 10px;
    margin-top: -0px;
}

.work__infoBox > h2 {
    text-align: justify;
    justify-content:center;
    align-items:center; 
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    
} 

.work__info > img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    transition: box-shadow 399ms ease-in-out;
    
}

.work__info > img:hover{
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
}

/***** style by kajal on 02-06-21 STARt ******/

@media(max-width: 1200px){
    .work__infoBox{
        height: 300px;
        max-width: 29%;
    }
}

@media(max-width: 767px){
    .work__info > img{
        max-width: 80%;
        height: auto;
    }

    .work__infoContainer{
        flex-direction: column;
    }

    .work__infoBox{
        height: auto;
        max-width: 80%;
        width: 80%;
    }
}

/***** style by kajal on 02-06-21 End ******/