@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');


.catagories {
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    overflow: hidden;
}

.catagory__Container {
    
    background-color: #f8f8f8;
    margin-left: 140px;
    margin-right: 140px;
    padding-bottom: 30px;
}

.catagory__ServicesCard {
    margin-bottom: 20px;
    /* margin-right: 20rem; */
    width: 60rem;
    overflow: none;
    padding-right: 30px;
}

.catagory__servicesText {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}

.catagory__servicesText > h2 {
    padding-top: 5px;
    color: #272727;
    border-bottom: 1px solid grey; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.catagory__servicesText > h2 > span {
    background: #F8F8F8; 
    font-weight: 500;
    padding:0 10px; 
}

.catagoryBanner__container1 {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catagoryBanner {
    display: flex;
    padding-top: 5rem;
    max-width: 100%;
}
/*travel*/
.catagoryBanner__title {
    color: #272727;
    padding-top: 6.6rem;
    padding-left: 50px;
    margin-bottom: 25px;
    font-family:helvetica;
    font-size: 50px;
    font-weight: bolder;  
    z-index: 100;
    
}
.catagory__SubCatagories {
    /* position: fixed;

    margin-left: 885px;
    margin-top: 7.5rem;
    margin-bottom: 1rem;  */

}

.catagory__Filter {
    margin-left: 24px;
}

.catagory__Services::-webkit-scrollbar { 
    width: 3px;
}
  
.catagory__Services::-webkit-scrollbar-track {
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #ccc inset,
                -5px -5px 10px #fff inset;
}
  
.catagory__Services::-webkit-scrollbar-thumb {
    border-radius: 50px;

    background: rgba(49,69,106,1);
}

.loadMore__btn {
    margin-top: 5px !important;
    margin-left: 27rem !important;
    /* margin-right: 20rem !important; */
    padding: 5px !important;
    cursor: pointer !important;
    text-transform: none !important;
    font-family: 'Fira Sans', sans-serif !important;
    font-size: 12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    border: none !important;
    border-radius: 99px !important;
    border: 1px solid rgba(49, 69, 106, 0.466) !important;
    color: rgba(49, 69, 106, 1) !important;
    text-transform: none !important;
    font-weight: 600 !important;
}

.loadMore__btn:hover {
    border: 1px solid rgba(49, 69, 106, 1) !important;
    background-color:rgba(49, 69, 106, 1) !important;
    color: white !important;
}

.loading {
    margin-top: 20px;
    margin-left: 28rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
}


@media (max-width: 1300px) {
    
    .catagoryBanner__container1{
        margin-left: 0px;
        margin-right: 10px;
    }
    
    .catagoryBanner__titleTravel{
        padding-left: 2rem;
    }
    .catagoryBanner__titleRestaurant {
        padding-left: 2rem;
    }
    .catagoryBanner__titleShopping{
        padding-left: 2rem;
    }
    .catagoryBanner__titleAutomotive{
        padding-left: 2rem;
    }
    .catagoryBanner__titleEducation{
        padding-left: 2rem;
    }
    .catagoryBanner__titleMedical{
        padding-left: 2rem;
    }
    .catagoryBanner__titlePersonalCare{
        padding-left: 2rem;
    }
    .catagoryBanner__titleRepairs{
        padding-left: 2rem;
    }
}

@media (max-width: 1100px){
    .catagoryBanner__container1 {
        justify-content: center;
        padding-left: 50px;
        padding-right:50px;
    }
    
}

@media (max-width: 768px){
    .catagory__Services{
        margin-left: 2rem;
        height: 80vh;
        margin-right: 2rem;
    }
    .catagory__servicesText{
        font-size: 30px;
    }
    .catagoryBanner__titleAutomotive{
        font-size: 3.5rem;
    }
    .catagoryBanner__titleTravel{
        font-size: 3.5rem;
    }
    .catagoryBanner__titleRestaurant {
        font-size: 3.5rem;
    }
    .catagoryBanner__titleShopping{
        font-size: 3.5rem;
    }
    .catagoryBanner__titleEducation{
        font-size: 3.5rem;
    }
    .catagoryBanner__titleMedical{
        font-size: 3.5rem;
    }
    .catagoryBanner__titlePersonalCare{
        font-size: 3.5rem;
    }
    .catagoryBanner__titleRepairs {
        font-size: 3.5rem;
    }
}

@media (max-width: 455px){
    .catagory__servicesText{
        font-size: 20px;
       
        margin-top: 60px;
    }
    .catagoryBanner__titleAutomotive{
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__titleTravel{
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__titleRestaurant {
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__titleShopping{
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__titleEducation{
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__titleMedical{
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__titlePersonalCare{
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__titleRepairs {
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 0rem;
        text-shadow: 0 -1px 0 #333,
    0 1px 3px rgba(112, 112, 112, 0.301),
    0 1px 4px rgba(100, 100, 100, 0.123),
    0 1px 4px rgba(92, 92, 92, 0.18),
    0 1px 4px rgba(0, 0, 0, 0.137);
    }
    .catagoryBanner__container1{
        margin-top: 10px;
    }
    .catagory__SubCatagories {
        padding-left: 14px;
        padding-right: 14px;
    }
    .catagory__Services{
        height: 50vh;
    }
}

/***** style by kajal on 02-06-21 STARt ******/

.catagory__Container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

.catagory__SubCatagories{
    order: 4;
    width: 30%;
    padding-right: 30px;
    box-sizing: border-box;
    margin-top: 25px;
}

.catagoryBanner__title{
    width: 100%;
    order: 1;
}

.catagory__Filter{
    width: 100%;
    order: 2;
}

.catagory__ServicesCard{
    order: 3;
    width: 70%;
    padding-right: 0;
    box-sizing: border-box;
}

@media(max-width: 767px){
    .catagory__SubCatagories{
        display: none;
    }
    
    .catagory__ServicesCard{
        width: 100%;
    }
}
/***** style by kajal on 02-06-21 End ******/