@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');


.productService__Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.productService__col1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.productService__row1 > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 457px;
  border-radius: 5px;
}

.productService__col2 > img {
  height: 223px;
  width: 250px;
  margin-left: 10px;
  border-radius: 5px;
}

.productService__col

.productService__row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.productService__Slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productService__TitleBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88%;
  height: 170px;
  border-radius: 20px;
  box-shadow: -2px -2px 5px #212121a4, 2px 2px 5px #14141488;
  margin-top: -20px;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;

}

.productService__TitleButton {
  margin-right: 90px;
}

.productService__GetInTouch {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  border: none;
  padding: 15px 15px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 99px;
  margin-right: 15px;
  border: 2px solid rgba(49, 69, 106, 1);
  text-transform: none;
  font-weight: 600;
  background-color: rgba(49, 69, 106 ,1);
  color: white;
  -webkit-transition: box-shadow 300ms;
  -moz-transition: box-shadow 300ms;
  transition: box-shadow 300ms;
}

.productService__Title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 90px;
}

.productService__Title > h2 {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.productService__Title > h3 {
  display: flex;
  justify-content:flex-start;
  text-align: justify;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}


.productService__Info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  
}

.productService__InfoBox1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0.5;
    
}

.productService__Infobox2 {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
    -5px -5px 10px rgb(255, 255, 255);
  -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
    -5px -5px 10px rgb(255, 255, 255);
  box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
    -5px -5px 10px rgb(255, 255, 255);

}
.productService__InfoHead > h2{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px 20px;
  font-weight: 500;
}
.productService__InfoContact {
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding: 10px 10px;
}

.productService__InfoContact > h3 {
  margin-left: 20px;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;

}

.productService__InfoBox2 > h2{
  display: flex;
  font-size: 22px;
}

.productService__InfoBox1 > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  font-weight: 500;
}

.productService__InfoBox1 > h3{
  display: flex;
  font-size: 1.19em;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Fira Sans', sans-serif;
  text-align: justify;  
  line-height: 32px;
  letter-spacing: normal;
}
.productService__InfoBox2 {
  display: flex;
  justify-content: flex-start;
}

.productService__Section {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  margin-top: 50px;
}

.productService__FAQuestions {
  display: flex;
  flex-direction: column;
 
  flex: 0.5;
}

.productService__FAQuestions > h2 {
  display: flex;
  align-items:center;
  justify-content: center ;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px;
}
  
.productService__Question > h3 {
  display: flex;
  justify-content: text-align;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 3px;
}

.productService__Answer > h3 {
  display: flex;
  justify-content: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.19em;
  font-weight: 400;
  padding-bottom: 3px;
  margin-bottom: 11px;
}

.productService__ContactForm {
  display: flex;
  justify-content:center;
  align-items:center;
  border-radius: 20px;
  flex: 0.3;
  flex-direction: column;
  width: 320px;
  -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
    -5px -5px 10px rgb(255, 255, 255);
  -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
    -5px -5px 10px rgb(255, 255, 255);
  box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
    -5px -5px 10px rgb(255, 255, 255); 
}

.title > h2{
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  font-weight: 400;
}

.form__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top:20px;
}

.form__items > input {
  margin-left: 20px;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.productService__Book {
    margin-top: 10rem;
    margin-bottom: 25rem;
}

.productService__BookText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin-left: 33rem;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form__buttonDesign {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  border: none;
  padding: 15px 15px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 99px;
  margin-right: 15px;
  border: 2px solid rgba(49, 69, 106, 1);
  text-transform: none;
  font-weight: 600;
  background-color: rgba(49, 69, 106 ,1);
  color: white;
  -webkit-transition: box-shadow 300ms;
  -moz-transition: box-shadow 300ms;
  transition: box-shadow 300ms;
}

.form__buttonDesign:hover {
  box-shadow: -2px -2px 5px #212121a4, 2px 2px 5px #14141488;
  background-color: rgba(49, 69, 106 ,1);
  color: white;
}

.productService__WriteReviews {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
}

.productService__WriteReviews > h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  font-weight: 400;

}

.productService__ReviewBox {
  width: 75%;
  height: 180px;
  border-radius: 10px;
  border: 2px solid rgba(49, 69, 106 ,1);
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.productService__WriteReviews > button {
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  border: none;
  padding: 15px 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 99px;
  margin-right: 15px;
  border: 2px solid rgba(49, 69, 106, 1);
  text-transform: none;
  font-weight: 600;
  background-color: rgba(49, 69, 106 ,1);
  color: white;
  -webkit-transition: box-shadow 300ms;
  -moz-transition: box-shadow 300ms;
  transition: box-shadow 300ms;
}

.productService__Reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.productService__Reviews > h2 {
  font-size: 35px;
  font-family:'Josefin Sans', sans-serif;
  font-weight: 500; 
}

/***** style by kajal on 02-06-21 STARt ******/

.productService__col1{
  width: 80%;
}

.productService__col1 .productService__row1,
.productService__col1 .productService__row2{
  width: 50%;
}

.productService__row1 > img{
  width: 100%;
}

.productService__col2 > img{
  width: calc(50% - 10px);
  height: auto;
}

.productService__InfoBox1 > h2,
.productService__FAQuestions > h2,
.productService__InfoHead > h2{
  justify-content: initial;
}

.productService__Info,
.productService__Section{
  max-width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  align-items: baseline;
}

.productService__InfoBox1,
.productService__FAQuestions{
  width: 68%;
    flex: initial;
    padding-right: 50px;
}

.productService__Infobox2,
.productService__ContactForm{
  width: 32%;
    flex: initial;
    align-items: baseline;
    padding-right: 15px;
}

.productService__ContactForm .form{
  padding: 0;
  width: 100%;
}

.productService__ContactForm .form .form__items{
  justify-content: initial;
}

.productService__ContactForm .form .form__items > input{
  width: calc(100% - 50px);

}

@media(max-width: 1199px){
  .productService__Info, .productService__Section{
    max-width: 90%;
  }
}

@media(max-width: 1023px){
  .productService__InfoBox1, .productService__FAQuestions{
    width: 50%;
    padding-right: 25px;
  }
  .productService__Infobox2, .productService__ContactForm{
    width: 50%;
  }
}

@media(max-width: 767px){
  .productService__col1{
    flex-direction: column;
  }

  .productService__col1 .productService__row1, .productService__col1 .productService__row2{
    width: 100%;
  }

  .productService__col1 .productService__row2 {
    padding-top: 20px;
  }

  .productService__col2 > img{
    margin: 5px;
  }

  .productService__Info, .productService__Section{
    flex-direction: column;
  }

  .productService__InfoBox1, .productService__FAQuestions{
    width: 100%;
    padding-right: 0;
  }

  .productService__Infobox2, .productService__ContactForm{
    width: 100%;
    margin-top: 15px;
  }

  .productService__Title{
    margin-left: 15px;
  }

  .productService__TitleButton{
    margin-right: 15px;
  }

  .productService__GetInTouch{
    margin-right: 0;
    margin-left: 10px;
  }
}
/***** style by kajal on 02-06-21 End ******/