@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.reviews> hr {
    display: flex;
    justify-content: center;
    height:1px;
    width: 60%;
    align-items: center;
    background: rgba(49, 69, 106);
    border-radius: 99px;
    opacity: 0.5;
}

.reviews__section {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 75%;
    padding: 20px 20px;
}
.reviews__image > img {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;  
    border-radius: 99px;  
}
.reviews__container {
    display: flex;  
    flex-direction: column;
}

.reviews__tag > h3 {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;

}

.reviews__head {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}

.reviews__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    margin-left: 35px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(83, 83, 83)
}

.reviews__bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}

.reviews__bottomItem {
    display: flex;
    align-items:center;
    flex-direction: row;
}

.reviews__bottomItem > h3 {
    margin-left: 10px;
}

/***** style by kajal on 02-06-21 STARt ******/

    
.reviews> hr{
    width: 75%;
}

@media(max-width: 479px){
    .reviews__section{
        max-width: 100%;
    }

    .reviews> hr{
        width: calc(100% - 40px);
    }
}


/***** style by kajal on 02-06-21 End ******/