@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');

.dashboard {
    display: flex;
    
    margin-top: 7.6rem;
    flex-direction: column;
}

.dashboard > hr {
    width: 10%;
    height: 4px;
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    border-radius: 10px;
    border: none;
}


.dashboard > h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 45px;
    margin-top: 20px;
    color: rgba(49,69,106,1);
    justify-content: center;
    align-items: center;
    display:flex;
}


.dashboard__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

  
}

.dashboard__card {
    display: flex;
    flex-direction: column;
    transition: transform 100ms ease-in;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 150px;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 20px;
    -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255);
    -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
      -5px -5px 10px rgb(255, 255, 255); 
    border-radius: 20px;
}

.dashboard__card:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.dashboard__card > img {
    display: flex;
    height:70px;
    width: 70px;
}

.dashboard__card > h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-top: 20px;
    color: rgba(49,69,106,1);
}

.dashboard__card > h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    color: rgb(48, 47, 47);
}

