.dashImages {
    display: flex;
    /* margin-left: 5rem; */
}

.dashImageDiv1 > img {
    height: 305px;
    width: 305px;
    margin-right: 1rem;
    border-radius: 10px;
}

.dashImageDiv2 > img {
    height: 150px;
    width: 240px;
    margin-right: 0.3rem;
    border-radius: 6px;
}

.dashImageDiv3 > img {
    height: 150px;
    width: 240px;
    border-radius: 6px;
}