@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@600;700&display=swap');

.dashSide {
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    height: 89vh;
}

.dashSide_Header {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.dashSide__Header > h2 {
    font-family: 'Raleway', sans-serif;
}

.dashSide__Options {
    background-color: #F8F8F8;
    padding-left: 20px;
    padding-right: 18px;
    padding-bottom: 17px;
    padding-top: 17px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items:center;
    cursor: pointer;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    
}

.dashSide__Options:hover {
    border-right: 3px solid rgb(35, 68, 131);
    -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    background-color: rgba(255, 255, 255, 0.075);
    color: black;
}

.dashSide__Options > h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 40px;
}

.dasbSide__divider {

    margin-left: 1rem;
    margin-right: 2rem;
    /* width: 270px; */
    width: calc(100% - 3rem);
}





/* .dashSide {
    color: gray;

    
}

.dashSide__Container{
    background-color: teal;
    display: flex;
    flex-direction: column;
    color: white;
    flex: 0.3;
    border-top: 1px solid #49274b;
    height: 100vh;
    justify-content: space-evenly;
}

.dashSide__Container > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}


.dashSide__Header {
    display: flex;
    border-bottom: 1px solid #49274b;
    padding: 13px;
}

.dashSide__Info {
    flex: 1;
}
.dashSide__Info > h3{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}

.dashSide__Options {
    display: flex;
    font-size: 12px;
    align-items: center;
    padding-left: 2px;
    cursor: pointer;
}

.dashSide__Options:hover {
    opacity: 0.8;
    background-color: teal;
} */