.dash {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    padding-top:5rem;
}

.dashLoading {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 5rem;
}

.dash__left {
    background-color:rgb(255, 255, 255);
    display: flex;
    flex: 0.22;
    flex-direction: column;
    padding-top: 3rem;
    height: 90vh;

}
.dash__right {
    background: radial-gradient(circle at -11.24% 14.64%, #004e46 0,
    #004e4b 4.17%, #004e51 8.33%, #004e56 12.5%, #004d5a 16.67%, #004d5e 
    20.83%, #004c62 25%, #004b65 29.17%, #004a68 33.33%, #084969 37.5%,
    #1a476a 41.67%, #27466b 45.83%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
    #69353a 100%);
    flex: 0.78;
    overflow-y: scroll;
    height: 105vh;

}