@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');

.detailCard {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    width: 100%;
}

.detailCard__container {
    display: flex;
    width: 70%; 
    flex-direction: column;
    background-color: white;
    padding: 35px 35px;
    margin-bottom: 25px;
    border-radius: 20px;
}

:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.detailCard__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.buttonTop {
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right:25px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid rgba(49, 69, 106, 1);
    text-transform: none;
    font-weight: 600;
    background-color: rgba(49, 69, 106 ,1);
    color: white;
    transition: all 0.3s ease-in-out;
    margin-bottom: 25px;
    cursor: pointer;
    box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.527),  5px 5px 20px  rgba(49, 69, 106, 0.253);
    
}

.buttonTop:hover {
    box-shadow: -2px -2px 5px rgba(49, 69, 106, 0.562), 2px 2px 5px rgba(49, 69, 106, 0.849);
} 



.detailCard__left-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detailCard__right > img {
    margin-right: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}


.detailCard__left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.detailCard__content {
    margin-bottom: 15px ;
}

.detailCard__content > h2  {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

.detailCard__content > h3  {
    font-family: 'Fira Sans', sans-serif;
    font-size: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.726);
}

.detailCard__right {
    display: flex;
    flex-wrap: wrap;
}
.detailCard__right > img {
    max-width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.detailCard__bottom > h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}
.detailCard__bottom > h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.726);
    text-align: justify;
}
/*form*/




/**/

.detailCard__edit {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right:25px;
    border-radius: 99px;
    margin-right: 15px;
    border: 2px solid rgba(49, 69, 106, 1);
    text-transform: none;
    font-weight: 600;
    background-color: rgba(49, 69, 106 ,1);
    color: white;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
    margin-bottom: 25px;
    cursor: pointer;
}

.detailCard__edit:hover {
    box-shadow: -2px -2px 5px rgba(49, 69, 106, 0.562), 2px 2px 5px rgba(49, 69, 106, 0.849);
}

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');


.detailCard {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}


.detailCard__section {

    flex-direction: column  ;

    background-color:rgb(235, 235, 235);
    -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px rgb(255, 255, 255);
    -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -5px -5px 10px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -5px -5px 10px rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 30px;
    margin-bottom: 5rem;

}

.detailCard__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.detailCard__images {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.detailCard__images >img {
    display: flex;
    height: 270px;
    width: 250px;
}

.detailCard__container {
    display: flex;
    flex-direction: column;
}

.detailCard__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 400px;
    margin-left: 10px;
    justify-content: center;
}

.detailCard__content > h2 {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    flex: 1; 
    margin-bottom: 5px;
}



.detailCard__content > h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}

.detailCard__description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    
    
}

.detailCard__description > h2{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    flex: 1; 
    margin-bottom: 5px;
    margin-top: 20px;
}

.detailCard__description > h3 {
    font-family: 'Fira Sans', sans-serif;
    justify-content:center;
    align-items:center;
    font-size: 20px;
    display:flex;
    text-align: justify;
    line-height: 26px;
}

.detailCard__function {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.detailCard__function > button {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 150px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid rgba(49, 69, 106, 1);
    text-transform: none;
    font-weight: 600;
    background-color: rgba(49, 69, 106 ,1);
    color: white;
    cursor: pointer;
    box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.527),  5px 5px 20px  rgba(49, 69, 106, 0.253);
    transition: all 0.2s ease-in-out;
}

.detailCard__function > button:hover {
    box-shadow: -2px -2px 5px rgba(49, 69, 106, 0.562), 2px 2px 5px rgba(49, 69, 106, 0.849);
}

.detailCard__edit {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 150px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid rgba(49, 69, 106, 1);
    text-transform: none;
    font-weight: 600;
    background-color: rgba(49, 69, 106 ,1);
    color: white;
    cursor: pointer;
    box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.527),  5px 5px 20px  rgba(49, 69, 106, 0.253);
    transition: all 0.2s ease-in-out;
}

.detailCard__edit:hover {
    box-shadow: -2px -2px 5px rgba(49, 69, 106, 0.562), 2px 2px 5px rgba(49, 69, 106, 0.849);
}

/* .detailCard {
    width: 270px;
    height: 280px;
    margin-top: 5px;
    margin-left: 37px;
    margin-bottom: 25px;
    border-radius: 10px;
    transition: transform 20ms ease-in;
    cursor: pointer;
    box-shadow: inset 0 0 4px rgba(66, 66, 66, 0), inset 0 0 10px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
    
}

.detailCard > img{
    border-radius:5px;
    width: inherit;
}
.detailCard > img:hover {
    border: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.detailCard__info {
    border-radius: 10px;
    padding: 20px;
    border: 1;
}
.detailCard__info > h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    color: rgba(49,69,106,1)
}
.detailCard__info > h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: rgba(49,69,106,1);
}

.detailCard__function {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.detailCard__function > button {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    border: none;
    height: 30px;
    width: 90px;
    padding-left: 15px;
    padding-right:15px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid rgba(49, 69, 106, 1);
    text-transform: none;
    font-weight: 600;
    background-color: rgba(49, 69, 106 ,1);
    color: white;
}

.detailCard__edit{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    border: none;
    height: 30px;
    width: 90px;
    padding-left: 15px;
    padding-right:15px;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid rgba(49, 69, 106, 1);
    text-transform: none;
    font-weight: 600;
    background-color: rgba(49, 69, 106 ,1);
    color: white;
} */ 