@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@600;700&display=swap');

.userDash {
    height: 100vh;
}

.userDash__Text {
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 400;
}

.userDash__Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.userDash__Card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    transition: all 200ms ease-in;
    border-radius: 5px;
}

.userDash__Card > h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.userDash__Card > h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    font-weight: 400;
}


.userDash__Card:hover {
    border: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transform: scale(1.3);
	transform: scale(1.08);
   
    transition: all 200ms ease-in; 
}



.userDash__Box {
    margin-left: 110px;
    margin-right: 110px;
    background-color:white;
    margin-top: 10px;  
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 20px;    
}

.userDash__Reach {
    margin-left: 115px;
    margin-top: 50px;
    margin-bottom:10px;
}

.userDash__Reach > h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 400;
}

.userDash__Box > h2 {
    margin-left: 30px;
}


.userDash__BoxBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    border-bottom: 2px solid black;
}





