.catagory__section {
    /* position: absolute; */
    overflow: hidden;
    width: 55%;
    /* position: absolute; */
    height: 35vh;
    margin-left: 315px;
    margin-top: -8rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
}
