@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
.catagoryCard {
    display: flex;
    color: white;
    width: 90%;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 128, 128, 0.199);
    border-radius: 5px;
    overflow: hidden;
   
    cursor: pointer;
    box-shadow: -5px -5px 20px rgba(49, 69, 106, 0.164),  5px 5px 20px  rgba(49, 69, 106, 0.096);
    transition: all 0.2s ease-in-out;
  
}

.catagoryCard:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.catagoryCard > img {
    width: 300px;
    height: 200px;
}

.catagoryCard__info {
    margin-top: 5px;
    margin-bottom: 5px;
    /* border-radius: 5px; */
    width: 30%;
    border-right: 1px solid rgba(0, 128, 128, 0.199);
    margin-left: 2rem;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}

.catagoryCard__info > h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: rgba(49,69,106,1);
    margin-top: 26px;
}

.catagoryCard__info > h3 {
    color: rgba(49,69,106,0.8);
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
}
.catagoryCard > .btn >.MuiButton-root {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(49, 69, 106, 0.199);
    margin-left: 2.5rem;
    margin-top: 80px;
    margin-bottom: 80px;
    text-transform: none;
    width: 15%;
}

.catagoryCard > .btn > .MuiButton-root:hover {
    background-color: rgba(49, 69, 106, 1);
    color: white;
}
















/* 
.catagoryCard {
    padding-top: 2rem;
    display: flex;
    height: 190px; 
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    margin-left: 2rem;
    border: 1px solid rgba(0, 128, 128, 0.199);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(255, 255, 255, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    z-index: 299;
}

.catagoryCard:hover {
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}
.catagoryCard {
    display: flex;
    height: 190px; 
    margin-top: 2rem;
    border-radius: 10px;
    margin-left: 2rem;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 6px 18px -9px rgba(255, 255, 255, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    z-index: 299;
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
}



.catagoryCard > img {
    border-radius: 10px;
    display: flex;
    width: 300px;
    height: 190px;
}

.catagoryCard__info {
    border-right: 1px solid rgba(0, 128, 128, 0.199);
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 2rem;
    padding: 20px;
    padding-top: 20px;
    border: 1;
}

.catagoryCard__info > h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgba(49,69,106,1);
    margin-top: -26px;
}

.catagoryCard__info > h3 {
    color: rgba(49,69,106,0.8);
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
}

.catagoryCard > .MuiButton-root {
    margin-left: 5rem;
    /* margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    border: none;
    padding: 10px;
    padding-left: 25px;
    padding-right:25px;
    text-transform: none;
    font-weight: 600;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.753);
    -webkit-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255);
    -moz-box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255);
    box-shadow: 15px 15px 20px rgb(0,0,0,0.1),
        -15px -15px 20px rgb(255, 255, 255);
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
}

.catagoryCard > .MuiButton-root:hover {
     border: none;
    -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
}

@media (max-width: 1000px){
    .catagoryCard{
        height: 200px;
    }
    .catagoryCard__info{
        margin-top: 30px;
        margin-left: 1rem;
        margin-bottom: 10px;
        padding: 10px;
    }
    .catagoryCard__info > h2 {
        font-size: 30px;
    }
    .catagoryCard__info > h3{
        font-size:15px;
    }
    .catagoryCard > .MuiButton-root{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 768px){
    .catagoryCard{
        height: 120px;
    }
    .catagoryCard__info{
        margin-top: 15px;
        margin-left: 0.5rem;
        padding: 5px;
    }
    .catagoryCard__info > h2 {
        font-size: 20px;
    }
    .catagoryCard__info > h3{
        font-size: 10px;
    }
    .catagoryCard > .MuiButton-root{
        margin-top: 45px;
        padding: 15px;
        font-size: 12px;
        margin-bottom: 50px;
    }
}

@media (max-width: 455px){
    .catagory__Services{
        margin-top: 30px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .catagoryCard{
        margin-top: 20px;
        margin-left: 7px;
        margin-right: 7px;
        height: 100px;
    }
    .catagoryCard > img{
        padding-top: 13px;
        padding-left: 10px;
        padding-bottom: 13px;
    }
    .catagoryCard > .MuiButton-root{
        margin-left: 1rem;
        margin-top: 30px;
        margin-right: 1rem;
        font-size: 10px;
    }
    .catagoryCard__info > h2 {
        font-size: 14px;
    }
    .catagoryCard__info > h3{
        font-size: 8px;
        margin-top: 2px;
        margin-bottom: 0px;
    }
} */

/***** style by kajal on 02-06-21 STARt ******/

.catagoryCard .img{
    width: 30%;
    border-right: 1px solid rgba(0, 128, 128, 0.199);
}

.catagoryCard .img img{
    width: 100%;
    height: 100%;
}

.catagoryCard .catagoryCard__info{
    width: 40%;
}

.catagoryCard .btn{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.catagoryCard .btn button{
    border: 1px solid rgba(49, 69, 106, 0.199);
    padding: 6px 8px;
    border-radius: 4px;

}

@media(max-width: 767px){
    .catagoryCard{
        margin: 15px;
    }
}

/***** style by kajal on 02-06-21 End ******/