@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');

.filterButton > .MuiButton-root {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    border: none;
    margin-right: 18px;
    padding: 10px;
    padding-left: 15px;
    padding-right:15px;
    margin-bottom: 15px;
    border-radius: 99px;
    border: 1px solid rgba(49, 69, 106, 1);
    color: rgba(49, 69, 106, 1);
    text-transform: none;
    font-weight: 600;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
    /* -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
    -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
    -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
    -5px -5px 10px #fff; */
}

.filterButton > .MuiButton-root:hover {
    border: none;
    background-color:rgba(49, 69, 106, 1);
    color: white;
}

