@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');
.search {
    display: flex;
    align-items: center;
}
.searchInput {
  display: flex;
  align-items: center;
  /* width: 0; */
  background-color: #F8F8F8; 
  height: 30px;
  border: 1px solid rgba(133, 126, 126, 0.103);
  border-radius: 999px;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.searchInput > .searchIcon {
  margin-left: -45px;
  background-color: rgba(49, 69, 106, 1);
  border-radius: 99px;
  padding: 8px;
  color: rgb(255, 255, 255);
}
.searchInput > input {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.13),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.514);
  border-radius: 999px;
  margin-left: -5px;
  background-color: #F8F8F8; 
  border: none;
  padding: 21px;
  outline-width: 0;
  width: 400px;
}
.searchButton {
    margin-right: 30px;
}
.searchButton > .searchButton__button {
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right:15px;
  border-radius: 99px;
  border: 1px solid rgba(49, 69, 106, 1);
  color: rgb(0, 0, 0);
  text-transform: none;
  font-weight: 600;
  -webkit-transition: box-shadow 300ms;
  -moz-transition: box-shadow 300ms;
  transition: box-shadow 300ms;
}
.searchButton > .searchButton__button:hover {
  border: none;
  background-color:rgba(49, 69, 106, 1);
  color: white;
}

/***** style by kajal on 02-06-21 STARt ******/

@media(max-width: 1199px){
  .searchInput > input{
    width: 225px;
  }
}

@media(max-width: 768px){
  .searchInput > input{
    width: 150px;
  }

  .searchButton{
    margin-right: 15px;
  }
}

@media(max-width: 767px){
  .search{
    display:none;
  }
}

/***** style by kajal on 02-06-21 End ******/