@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');


.subcatagories {
    overflow-y: scroll;
    height: 60vh;
    background-color: #F8F8F8;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.144); 
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
}


.subcatagories__box {
    background-color: #F8F8F8;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.subcatagories__Text {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;  
    margin-top: -31px;
    margin-left: 70px;
    color:rgb(36, 35, 35);
}

.subcatagories__box:hover {
    border-left: 3px solid rgb(35, 68, 131);
    -webkit-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    -moz-box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.1),
        -5px -5px 10px #fff;
    background-color: rgba(255, 255, 255, 0.075);
    color: #f8f8f8;
}

.subcatagories__image {
    height: 35px;
    width: 35px;
    /* margin-right: 200px; */
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    -webkit-transform: scale(1);
	transform: scale(1);
}

.subcatagories__image:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
    -webkit-transform: scale(1.03);
	transform: scale(1.03);
}   

.subcatagories__list {
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
}

.subcatagories__divider {

    margin-left: 1rem;
    margin-right: 2rem;
    /* width: 270px; */
    width: calc(100% - 3rem);
}

.subcatagories::-webkit-scrollbar { 
    width: 3px;
}
  
.subcatagories::-webkit-scrollbar-track {
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #ccc inset,
                -5px -5px 10px #fff inset;
}
  
.subcatagories::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(49,69,106,1);
}

@media (max-width: 1000px){
    .subcatagories__list{
        margin-top: 1rem;
    }
    .subcatagories__box{
        /* height: 100px;
        width: 100px; */
        margin-bottom: 1rem;
    }
    .subcatagories__boxText{
        font-size: 15px;
    }
}

@media (max-width:768px){
    .subcatagories{
        margin-left: 20px;
        margin-right: 20px;
    }
    .subcatagories__image{
        height: 28px;
        width: 28px;
    }
    /* .subcatagories__box{
        height: 60px;
        width: 60px;
    } */
    .subcatagories__boxText{
        font-size: 11px;
        margin-top: 0px;
    }
}

@media (max-width:455px){
    .subcatagories{
        margin-top: 1rem;
        margin-left: 0px;
        margin-right: 0px;
    }
    .subcatagories__box{
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .subcatagories__boxText{
        font-size: 9px;
    }
    .subcatagories__image{
        height: 24px;
        width: 24px;
    }
}