@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@500&display=swap');

.freePlanForm {
  background: radial-gradient(circle at -11.24% 14.64%, #31446a 50%, #3a4269 54.17%, #424067 58.33%,
    #4a3e64 62.5%, #513c61 66.67%, #563a5d 70.83%, #5c3858 75%, #603754 79.17%,
    #63364f 83.33%, #663549 87.5%, #683444 91.67%, #69343f 95.83%,
   #69353a 100%);
  height: 420vh;
}
.freePlanHeader {
  font-size: 45px;
  font-weight: 500; 
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 9rem;
  color: white;
}
.freePlanForm > hr {
  width: 8%;
  height: 3.5px;
  background:white;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

h3{
  font-family:'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.form {
  padding: 5rem 10rem 0 20rem;
}

hr.form__hr {
  border: 1px solid rgba(211, 211, 211, 0.3);
}


/*========= form__div1 =============================*/

/* top | right | bottom | left : padding and margin */
.form__div1 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}

.form__div1 > input {
  margin-bottom: 8px;
  margin-top: 0.5rem;
  width: 98%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 6px;
  outline-width: 0;
}
/*========= form__div1 =============================*/


/*========= form__div2 =============================*/
.form__div2 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}

.form__div2 > select {
  cursor: pointer; 
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 6px;
  outline-width: 0;
}
/*========= form__div2 =============================*/

/*========= form__div3 =============================*/
.form__div3 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}

.form__div3insideDiv {
  display: flex;
  justify-content: left;
}

.form__div3insideDiv > h5 {
  margin: 2rem 1rem 0 1rem ;
  color: rgb(128, 128, 128);
  font-weight: 300;
}

.meterialSelect {
  width: 42rem;
  outline-width: 0;
  margin-top: 0.3rem;
}


.form__div3insideDiv > select {
  cursor: pointer; 
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 15%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 6px;
  outline-width: 0;
}
/*========= form__div3 =============================*/


/*========= form__div4 =============================*/
.form__div4 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}
/*========= form__div4 =============================*/


/*========= form__div5 =============================*/
.form__div5 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}

.form__div5 > input {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  width: 98%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 6px;
  outline-width: 0;
}

.form__div5 > textarea {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  width: 98%;
  height: 120px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 6px;
  padding-top: 6px;
  outline-width: 0;
}

.form__div5 > .addBtn {
  margin-left: 47rem;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: white;
  /* border: 1px solid whitesmoke; */
  border: none;
  padding: 3px;
  color: rgba(0, 153, 204, 0.74);
}

.form__div5 > .addBtn:hover {
  color: #09c;
}

.form__div5 > .removeBtn {
  margin-left: 48rem;
  margin-top: -15px;
  cursor: pointer;
  border: none;
  background-color: white;
  color: rgba(255, 0, 0, 0.425);
}

.form__div5 > .removeBtn:hover {
  color: rgba(255, 0, 0, 0.644);
}
/*========= form__div5 =============================*/



/*========= form__div6 =============================*/
.form__div6 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}

.form__div6 > textarea {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  width: 97%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  outline-width: 0;
}
/*========= form__div6 =============================*/


/*========= form__div7 =============================*/
.form__div7 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}
/*========= form__div7 =============================*/

/*========= form__div8 =============================*/
.form__div8 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}

.form__div8 > input {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  width: 98%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 6px;
  outline-width: 0;
}
/*========= form__div8 =============================*/

/*========= form__div9 =============================*/
.form__div9 {
  border: 2px solid rgba(211, 211, 211, 0.3);
  background-color: white;
  width: 70%;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 0.5rem;
}
/*========= form__div9 =============================*/

input[type="file"] {
  /* display: none; */
  width: 150px;
  /* margin-left: 200px; */
  margin-right: 15px;
  margin-top: 4px;
  outline-width: 0px;
  justify-content: right;
  align-items: right;
}


.form__div7 > h2 {
  font-size: 14px;
  font-family:'Fira Sans', sans-serif;
  font-weight: 600;
}

.form__image {
  display: flex;
  color: black;
  padding: 6px 6px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 400px;
  margin-top: 8px;
  cursor: pointer;
  margin-bottom: 22px;
}

.form__image > p {
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 6px;
  margin-top: 7px;
}

.form__image > .icon {
  padding-left: 135px !important;
}

.custom-file-input::-webkit-file-upload-button {
  display: none;
}

/* .imageupload__progress {
  width: 25%;
  height: 6px;
  margin-left: 5px;

} */

.form > .form__div9 > progress { 
  -webkit-appearance: none;
  appearance: none;
}

.form > .form__div9 > progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 99px;
    margin-top: -2.4px;
    margin-left: 23rem;
    height: 4px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.form > .form__div9 > progress[value]::-webkit-progress-value {
  background-image:
       -webkit-linear-gradient(-45deg, 
                         transparent 33%, rgba(0, 0, 0, .1) 33%, 
                         rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                         rgba(255, 255, 255, .25), 
                         rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 99px; 
  background-size: 35px 20px, 100% 100%, 100% 100%;
}  

.form > .form__div9 > .MuiButton-root {
  text-transform: none;
  /* border: 1px solid rgba(128, 128, 128, 0.5); */
  background-color: white;
  border: 1px solid lightgray;
  width: 300px;
  margin-left: 13rem;
  color: black;
  margin-top: 25px;
  /* margin-bottom: 10px; */
}

.form > span {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 300px;
}

.form > svg {
  width: 415px;
}

@media (max-width: 767px) {
  .freePlanForm__container {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
  }

  .form {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .MuiInputBase-root {
    width: 18rem;
  }

  .form > .MuiButton-root {
    width: 120px;
  }

  .form__image {
    width: 280px;
  }
}

/***** style by kajal on 02-06-21 STARt ******/

.freePlanForm{
  height: auto;
}

.freePlanForm .form{
  width: 80%;
  max-width: 900px;
    padding: 50px 0;
    margin: 0 auto;
}

.freePlanForm .form .form__div1,
.freePlanForm .form .form__div2,
.freePlanForm .form .form__div3,
.freePlanForm .form .form__div4,
.freePlanForm .form .form__div5,
.freePlanForm .form .form__div6,
.freePlanForm .form .form__div7,
.freePlanForm .form .form__div8,
.freePlanForm .form .form__div9{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.form__div3insideDiv > select{
  width: 125px;
}

.MuiInputBase-root,
.MuiSelect-selectMenu{
  max-width: 100%;
}

@media(max-width: 767px){
  .form > .form__div9 > progress{
    appearance: auto;
  }

  .form > .form__div9 > .MuiButton-root{
    margin-left: 0;
    display: block;
    width: 200px;
  }

  .form__image{
    width: 100%;
    justify-content: flex-end;
  }

  .form__image .custom-file-input{
    margin-right: auto;
  }

  .form__image > .icon{
    padding-left: 0 !important;
  }

  .MuiInputBase-root{
    width: 100%;
  }
}

/***** style by kajal on 02-06-21 End ******/